.electronics {
  color: rgb(0, 0, 0);
  font-size: 24px;

}

.categoryElectronicsDiv {
  border: 1px solid rgb(190, 190, 190);
  padding: 30px;
  margin-right: 40px;
  margin-top: 150px;
  margin-bottom: 20px;
  max-width: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f7f7f7;
  height: 360px;
}


.homepageMain {
  gap: 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(to bottom, #0E8684, #E3E6E6);;
}

.electronicsH1 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
  font-family: Amazon Ember Lite;
}

.electImg {
  width: 250px;
  border-radius: 5px;
}

.electImgs {
  width: 240px;
  height: 190px;
  border-radius: 5px;
}

.homeFooter {
  background-color: #232F3E;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 400px;
}

.upperHomeFooter {
  list-style: none;
  position: relative;
  top: 50px;
  padding: 11px;
  background-color: #37475A;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 100%;
  height: 30px;
}

.upperHomeFooter:hover {
  background-color: #4b5968;
  cursor: pointer;
}

.homeWallPaperDiv {
  height: 600p;
  z-index: 2;
}