.electronics {
  color: rgb(0, 0, 0);
  font-size: 24px;
}

.categoryElectronicsDiv {
  border: 1px solid rgb(190, 190, 190);
  border-radius: 7px;
  padding: 30px;
  margin-right: 40px;
  margin-top: 150px;
  margin-bottom: 200px;
  max-width: 220px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f7f7f7;
  height: 300px;
}


.homepageMain {
  gap: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 100%;
  /* background-color: #EAEDED; */
  overflow: hidden;
  background: linear-gradient(to bottom, #ff9901, #FFFFFF);;
  /* background-size: 100%;
  background-position-x: center; */
}

.electronicsH1 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
  font-family: Amazon Ember Lite;
}

.electImg {
  width: 250px;
  border-radius: 5px;
}

.electImgs {
  width: 240px;
  height: 190px;
  border-radius: 5px;
}


.homeFooter {
  background-color: #232F3E;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 270px;
}

.upperHomeFooter {
  list-style: none;
  position: relative;
  top: 60px;
  padding: 11px;
  background-color: #37475A;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 35px;
}

.upperHomeFooter:hover {
  background-color: #4b5968;
}




.homeWallPaperDiv {
  height: 600p;
  z-index: 2;
}