.pageContainer {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  justify-items: center;
  align-items: center;
  height: 2600px;
  min-height: 2600px;
  overflow: hidden;
  background-color: #E3E6E6;
}

.homeBannerContainer {
  width: 95%;
  height: 900px;
  z-index: 1;
  background: linear-gradient(to bottom, #EC9E91 65%, #E3E6E6 100%);
}

.homepageBanner {
  width: 100%;
  height: 600px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.homepageMain {
  position: relative;
  top: -320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  gap: 20px;
  z-index: 2;
}




@media (max-width: 768px) {
  .homepageMain {
    padding-top: 30px;
  }


}

@media (max-width: 480px) {
  .homepageMain {
    padding-top: 20px;
  }
}


@media (min-width: 1920px) {
  .homepageMain {
    padding-top: 150px;
    padding:  70px;
    width: 85%;
  }


  .homeBannerContainer {
    width: 80%;
    height: 900px;
    z-index: 1;
    background: linear-gradient(to bottom, #EC9E91 65%, #E3E6E6 100%);
  }

  .homepageBanner {
    width: 100%;
    height: 600px;
    position: relative;
    z-index: 1;
    cursor: pointer;
  }



  .homepageMainSkeleton {
    padding-top: 150px;
    padding: 70px;
    width: 85%;
  }

}


