
.recommendedProductsCarouselContainer {
  background-color: #ffffff;
  display: flex;
  height: 300px;
  width: 92%;
  align-items: center;
  margin-bottom: 30px;
}

.recommendedProductsCarousel {
  display: flex;
  overflow: auto;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  padding: 20px 0;
  gap: 20px;
  scrollbar-width: none;
}

.recommendedProductsCarousel::-webkit-scrollbar {
  display: none;
}

.carouselArrow {
  position: absolute;
  top: 16%;
  transform: translateY(-50%);
  background: rgba(233, 233, 233, 0.7);
  padding: 20px;
  border: none;
  font-size: 28px;
  cursor: pointer;
  z-index: 10000;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.recommendedProductsCarouselContainer:hover .carouselArrow {
  opacity: 1;
}


.carouselArrow.left {
  left: 70px;
}

.carouselArrow.right {
  right: 70px;
}


.recommendedProductCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
  min-width: 200px;
  min-height: 250px;
  background-color: rgb(255, 255, 255);
  padding: 10px;
}



.recommendedProductImg {
  width: 100%;
  max-width: 150px;
}

