.recommendedProductsCarouselContainer {
  background-color: #ffffff;
  display: flex;
  height: 270px;
  width: 92%;
  align-items: center;
  margin-top: 20px;
  position: relative;
}

.recommendedProductsCarousel {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  overflow: scroll;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  margin-right: 20px;
  margin-left: 20px;
  padding-left: 20px;
  gap: 10px;
  width: 100%;
}


.recommendedProductsCarousel.hide-scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 6px;
}


.recommendedProductsCarousel.show-scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 6px;
}

.recommendedProductsCarousel.show-scrollbar::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 6px;
}

.recommendedProductsCarousel.show-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #888;
}

.carouselArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(233, 233, 233, 0.7);
  padding: 20px;
  border: none;
  font-size: 28px;
  cursor: pointer;
  z-index: 10000;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}


.carouselMessage {
  position: absolute;
  top: 8%;
  transform: translateY(-50%);
  padding: 20px;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.recommendedProductsCarouselContainer:hover .carouselArrow {
  opacity: 1;
}


.carouselArrow.left {
  left: 30px;
}

.carouselArrow.right {
  right: 30px;
}


.recommendedProductCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: inherit;
  min-width: 150px;
  min-height: 220px;
  background-color: rgb(255, 255, 255);
  padding: 5px;
  margin: 0 5px;
}



.recommendedProductImg {
  max-width: 140px;
  max-height: 170px;
}

