
#customerReviewItemDivMain {
  display: flex;
  flex-direction: column;
  padding: 22px;
}

#reviewProfilePreset {
  width: 32px;
  padding-right: 12px;
  display: inline;
}

#userReviewUsername {
  position: relative;
  bottom: 8px;
  font-size: 17px;
}

.reviewBodyDiv {
  display: flex;
  width: 100%;
}

.reviewTitleSpan {
  font-size: 24px;
  margin-left: 24px;
  font-family: Amazon Ember;

}

.reviewBodyDiv {
  margin-top: 24px;
}














.editDeleteReviewBtn {
  margin-top: 24px;
  height: 40px;
  padding: 12px;
  margin-right: 12px;
  background-color: #ffffff;
  color: #464646;
  font-weight: bold;
  border: 1px solid #d3d2d2;
  border-radius: 10px;
  cursor: pointer;
  font-family: Amazon Ember Lite;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.editDeleteReviewBtn:hover {
  background-color: #f1f1f1;
}

