@font-face {
  font-family: "Amazon Ember";
  src: url('./fonts/Amazon-Ember-Medium.ttf')
}
@font-face {
  font-family: "Amazon Ember Lite";
  src: url('./fonts/AmazonEmber_Lt.ttf')
}

body {
  overflow-x: hidden;
}

#root {
  font-family: Amazon Ember;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  position: relative;
}
