.cardContent {
  margin-top: 30px;
  border-radius: 10px;
}

.productCard {
  border: 1px solid rgb(190, 190, 190);
  border-radius: 7px;
  padding: 35px;
  margin-right: 70px;
  margin-top: 35px;
  max-width: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.productCard:hover {
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
}

.productsIndexPage {
  background-color: white;
  gap: 12px;
  width: 100%;
  height: 100%;
}

.productsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: center;
  align-items: center;
}

.productPrice {
  color: black;
  padding-top: 10px;
  font-size: 22px;
}

.productNameH3 {
  color: black;
  display: block;
  max-width: 100%;
  overflow: hidden;
}

.productsIndexDivider {
  height: 0.5px;
  background-color: #5a5a5a;
  margin: 35px 0;
  background: linear-gradient(to right,#d3d3d3, #d3d3d3, #d3d3d3);
  box-shadow:  1px 2px 10px  #858585;
}

.productImg {
  width: 150px;
}

.loadingGif {
  margin-top: 50px;
  width: 50px;
  height: 50px;
}