.cardContent {
  margin-top: 30px;
  border-radius: 10px;
}
.productCard {
  border: 1px solid rgb(190, 190, 190);
  border-radius: 7px;
  padding: 25px;
  max-width: 200px;

  height: 350px;
}

.productsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px;
  gap: 25px;
  margin-right: 100px;
  margin-left: 100px;

}

.productPrice {
  color: black;
  padding-top: 10px;
  font-size: 22px;
}

.productNameH3 {
  color: black;
  display: block;
  max-width: 100%;
  overflow: hidden;

}

.productsIndexDivider {
  width: 100%;
  height: 0.5px;
  background-color: #5a5a5a;
  margin: 35px 0;
  background: linear-gradient(to right, rgb(184, 184, 184), rgb(184, 184, 184), rgb(184, 184, 184));
  box-shadow:  1px 4px 8px  #636262;
}

