.productIndexItemPage {
  overflow: hidden;
  gap: 112px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.productImgShow {
  max-width: 250px;
  margin-top: 150px;
}



/* CART  */


.addToCartDiv {
  margin-top: 150px;
  border: 1px solid rgb(170, 170, 170);
  border-radius: 10px;
  width: 200px;
  height: 350px;
  padding: 12px;
}

.buyNowH3 {
  font-size: 14px;
  font-weight: 550;
  line-height: 20px;
  color:#0F1111;
  padding-bottom: 5px
}

.productPriceH1 {
  padding-bottom: 30px;
  padding-top: 5px;
  font-size: 28px;
  font-weight: 750;
  color: #0F1111;
  font-family: Amazon Ember Lite;
}

.inStockH1 {
  color: #007600;
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 40px;
}

.quantityDropDown {
  margin-left: 15px;
  width: 65px;
  background-color: #F0F2F2;
  border: 1px solid #c9c7c7;
  border-radius: 6px;
}

.quantityDropDown:focus {
  border: 1px solid #838383;
  border-radius: 6px;
  outline: rgba(109, 255, 255, 0.747) solid 2px;
}

.addToCartBtn {
  width: 100%;
  height: 33px;
  padding: 1px 6px;
  background-color: #FFD814;
  color: #464646;
  font-weight: 400;
  text-align: center;
  line-height: 19px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 60px;
}

.addToCartBtn:hover {
  background-color: #f8d318;
}


/* MIDDLE */


.cardContentItem {
  display: flex;
  flex-direction: column;
  padding: 24px;
  width: 40%;
}

.middleProductNameH3 {
  margin-top: 80px;
  font-size: 26px;
  line-height: 32px;
}

.middleRatingDiv {
  padding-top: 10px;
}

.ratingsNum {
  padding-right: 5px;
}

.numRatings {
  margin-top: 9px;
  padding-left: 25px;
  font-family: Amazon Ember Lite;
  font-weight: 600;
  color: #68ABB7
}

.middlePriceDivider {
  width: 100%;
  height: 0.6px;
  background-color: #5a5a5a;
  margin: 30px 0;
  background: linear-gradient(to right, rgb(184, 184, 184), rgb(184, 184, 184), rgb(184, 184, 184));
  box-shadow:  1px 4px 8px  #ffffff;
}

.middleProductPriceP {
  font-size: 24px;
}

.productDetailList {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.productDetail {
  padding: 6px;
}

.salePrice {
  color: rgb(255, 112, 112);
  font-weight: lighter;
  font-size: 25px;
  padding-right: 4px;
  font-family: Amazon Ember Lite;
}


/* REVIEW STYLING */


.reviewContainer {
  margin-top: 120px;
  width: 100%;
  flex-direction: row;
  display: flex;
  justify-content: center;
  gap: 324px;
  padding: 24px;
  align-items: center;
}

#reviewButtonOneSignIn {
  background-color: #FFD814;
  margin-top: 20px;
  width: 80%;
  padding: 12px;
  color: #464646;
  font-weight: bold;
  border: 1px solid #d3d2d2;
  border-radius: 10px;
  cursor: pointer;
}

#reviewAverageSpan {
  padding-left: 12px;
  position: relative;
  bottom: 3px;
}

#reviewAmountH1 {
  padding-top: 18px;
  font-size: 18px;
}

#customerReviewsH1 {
  margin-bottom: 8px;
  font-size: 24px;
  font-family: Amazon Ember Lite;
  font-weight: bold;
}


#reviewButtonOne {
  margin-top: 20px;
  width: 80%;
  padding: 12px;
  background-color: #ffffffe1;
  color: #464646;
  font-weight: bold;
  border: 1px solid #d3d2d2;
  border-radius: 10px;
  cursor: pointer;

}

#reviewButtonOneSignIn:hover {
  background-color: #f8d318;
}

#reviewButtonOne:hover {
  background-color: #f1f1f1;
}

#reviewProductTextH1 {
  font-size: 20px;
  font-family: Amazon Ember Lite;
  font-weight: bold;
  margin-bottom: 24px;
}

#shareYourThoughtsH1 {
  font-family: Amazon Ember Lite;
  font-weight: bold;
}

#productReviewDiv {
  margin-left: 70px;
}
