.productIndexItemPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 1200px;
  width: 100%;
  border: 1px solid black;
}


.productImageContainer {
  /* display: flex; */
  /* justify-content: flex-start; */
  /* align-items: flex-start; */
  /* border: 1px solid black; */
  position: relative;
  top: 10%;
  right: 30%;
  /* margin: 12px; */
  margin-left: 100px
}

.cardContentItem {
  position: relative;
  /* border: 1px solid black; */
  width: 30%;
  margin-left: 50px;
  height: 3000px;
  bottom: 10%;
}

.addToCartDiv {
  border: 1px solid rgb(170, 170, 170);
  border-radius: 10px;
  display: block;
  position: relative;
  margin-right: 100px;
  width: 200px;
  height: 350px;
  left: 38%;
  bottom: 54%;
  padding: 12px;
}


.buyNowDiv {
  padding-bottom: 5px
}
.buyNowH3 {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none solid rgb(15, 17, 17);
  color:#0F1111;
  font-stretch: 100%;
  text-transform: none;
}

.productPriceDiv {
  padding-bottom: 30px;
}

.productPriceH1 {
  font-size: 28px;
  text-decoration: none;
  font-weight: lighter;
  color: #0F1111;
}

.inStockDiv {
  padding-bottom: 40px;
}


.inStockH1 {
  color: #007600;
  font-size: 18px;
  line-height: 24px;
}


.quantityDiv {
  padding-bottom: 12px;
}

.quantityDropDown {
  width: 60px;
  background-color: #F0F2F2;
  border-radius: 10px;
}


.quantityDropDown:focus {
  border: 1px solid #838383;
  border-radius: 4px;
  outline: rgba(109, 255, 255, 0.747) solid 2px;
}

.addToCartBtn {
  width: 100%;
  height: 33px;
  padding: 1px 6px;
  background-color: #FFD814;
  color: #464646;
  font-weight: 400;
  text-align: center;
  line-height: 19px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}

.addToCartBtnDiv {
  padding-top: 120px;
}

.addToCartBtn:hover {
  background-color: #f8d318;
}


.middleProductPriceDiv {
  display: flex;
  align-items: center;
}

.middleProductPriceH3 {
  font-size: 26px;
  line-height: 32px;
}

.middleRatingDiv {
  padding-top: 10px;
}

.ratingsNum {
  margin-top: 9px;
  padding-right: 5px;
}

.numRatings {
  margin-top: 9px;
  padding-left: 25px;
  color: #68ABB7
}

.middlePriceDivider {
  width: 100%;
  height: 0.5px;
  background-color: #5a5a5a;
  margin: 30px 0;
  background: linear-gradient(to right, rgb(184, 184, 184), rgb(184, 184, 184), rgb(184, 184, 184));
  box-shadow:  1px 4px 8px  #ffffff;
}

.middleProductPriceP {
  font-size: 24px;
}


.productDetailList {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}