.star-rating {
  display: inline-block;
  padding-top: 10px;  
  font-size: 20px;
}

.star-rating-review {
  display: inline-block;
  padding-top: 10px;
  font-size: 32px;
}

.star {
  color: #979797;
}

.filled {
  color: gold;
}
.star-rating-review .star:hover {
  cursor: pointer;
}