.star-rating {
  display: inline-block;
  padding-top: 10px;  
  font-size: 20px;
}

.star-rating-review {
  display: inline-block;
  padding-top: 10px;
  font-size: 32px;
}

.star {
  color: #979797;
}

.filled {
  color: gold;
}


.create-star-rating-review {
  font-size: 38px;

}
.create-star-rating-review .reviewStar:hover {
  cursor: pointer;
}
.reviewStar {
  color: #979797;
}