.searchBar {
  z-index: 1;
  background-color: white;
  width: 90%;
  height: 32px;
  border: none;
  border-radius: 4px;
}
.searchBar:focus {
  outline: none;
  border-left: 1px solid #FEBD69;
  border-top: 1px solid #FEBD69;
  border-bottom: 1px solid #FEBD69;
  border-radius: 4px;
  height: 30px;
}

.searchBarMain {
  margin-left: 50px;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}



.magImg {
  width: 3.3%;
  cursor: pointer;
  position: relative;
  right: 7px;
  top: 0px;
  min-height: 40px;
  min-width: 40px;
}

@media (max-width: 1550px) {
  .magImg {
    width: 4.9%;
    cursor: pointer;
    position: relative;
    right: 7px;
    top: 0px;
  }
}

.searchDropdown {
  position: absolute;
  top: calc(4.8% + 0px);
  left: 390px;
  z-index: 999;
  width: 6000px;
  max-width: 740px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-height: 200px;
  overflow-y: auto;
}

.searchDropdown>div {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.searchDropdown>div:hover {
  background-color: #f0f0f0;
}

.searchDropdown::before {
  content: '';
  position: absolute;
  top: -10px;
  left: calc(50% - 8px);
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent #ddd transparent;
}