.searchBar {
  z-index: 1;
  background-color: white;
  width: 85%;
  height: 4.73vh;
  /* position: absolute; */
  border: none;
  border-radius: 4px;
}

.searchBar:focus {
  outline: none;
  border-left: 1px solid #FEBD69;
  border-top: 1px solid #FEBD69;
  border-bottom: 1px solid #FEBD69;
  border-radius: 4px;
  height: 4.53vh;
}


@media screen and (min-width: 1700px) {
  .searchBar {
    z-index: 1;
    background-color: white;
    width: 90%;
    height: 3.55vh;
    border: none;
    border-radius: 4px;
  }
  
  .searchBar:focus {
    z-index: 1;
    background-color: white;
    width: 90%;
    height: 3.21vh;
    border: none;
    outline: none;
    border-radius: 4px;
    border-left: 1px solid #FEBD69;
    border-top: 1px solid #FEBD69;
    border-bottom: 1px solid #FEBD69;
  }



  .magImg {
    width: 5.9%;
    cursor: pointer;
    position: relative;
    margin-right: 25px;
    right: 20px;
    top: 0px;
  }
}

.searchBarMain {
  margin-left: 50px;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.magImg {
  width: 3.2%;
  cursor: pointer;
  z-index: 0;
  right: 7px;
  top: 0px;
  min-height: 40px;
  min-width: 40px;
  margin-right: 25px;
}

.searchDropdown {
  position: absolute;
  top: 45px;
  left: 47%;
  transform: translateX(-50%);
  z-index: 999;
  width: 800px;
  max-width: 779px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-height: 200px;
  overflow-y: auto;
}

.searchProductResult {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.searchProductResult:hover {
  background-color: #f0f0f0;
}

@media (max-width: 1280px) {
  .searchDropdown {
    position: absolute;
    top: 45px;
    left: 50.9%;
    max-height: 250px;
    width: 1100px;
    max-width: 530px;
    overflow: hidden;
  }
}

@media (min-width: 1550px) {
  .searchDropdown {
    position: absolute;
    top: 45px;
    left: 48.3%;
    max-height: 250px;
    width: 1100px;
    max-width: 1030px;
  }
}

@media (max-width: 1550px) {
  .magImg {
    width: 4.4%;
    cursor: pointer;
    position: relative;
    right: 7px;
    top: 0px;
  }
}