.searchBarMain {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 750px;
  z-index: 1005;
  height: 65%;
}


@media (min-width: 1920px) {
  .searchBarMain {
    width: 100%;
    max-width: 950px;
    height: 70%;
  }
}

.searchBar {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  outline: none;
  z-index: 1005;
}


.searchBar:focus {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  z-index: 1005;
}


.magImg {
  border: none;
  outline: none;
  text-decoration: none;
  margin: none;
  padding: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
  z-index: 1005;
}

#magImdDiv {
  background-color: #FEBD69;
  width: 4.5%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  align-items: center;
  justify-content: center;
  display: flex;
  z-index: 1005;
}


#magImdDiv.focused::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 6px;
  border: 3px solid #FF9900;
  border-left: none;
  pointer-events: none;
  z-index: 1005;
}


.searchDropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 247px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1005;
}

.searchProductResult {
  color: black;
  padding: 9px;
  cursor: pointer;
  z-index: 1005;
}


.searchProductResultLink {
  color: black;
  align-items: center;
  text-align: center;
  z-index: 1005;
}

.searchProductResult:hover {
  background-color: #f0f0f0;
  z-index: 1005;
}


.searchResultArrowSpan {
  display: inline-block;
  transform: rotate(-130deg);
  font-size: 30px;
  margin-right: 10px;
  z-index: 1005;
}


.searchBarCategoryDropdown {
  border: 1px solid #ccc;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  min-width: 52px;
  padding: 10px;
  outline: none;
  background-color: #E6E6E6;
  color: #333;
  font-size: 14px;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 3px solid transparent;
  z-index: 1005;
}


.searchBarCategoryDropdown.focused {
  border-left: 3px solid #FF9900;
  z-index: 1005;
}


.searchBarCategoryDropdown:focus {
  border: 3px solid #FF9900;
  z-index: 1005;
}


.searchOverlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}


.sessionOrdersLink {
  color: white;
  padding: 5px;
}



.searchBarCategoryDropdown:focus.dropdownOption[disabled] {
  display: none;
} 